@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400&display=swap');

h1{
    font-family: 'Montserrat', sans-serif;
    font-weight: 1000;
    font-size: 30px;
    box-sizing: border-box;
    text-align: center;
}

.logoOfNav {
    cursor: pointer;
    max-width: 11%;
    margin-right: auto;
}

footer {
    font-family: 'Montserrat', sans-serif;
    font-weight: 1000;
    font-size: 16px;
    box-sizing: border-box;
    text-align: center;
    padding: 7px;
    background-color: #343a40;
    color: white;
    display: block;
}
body, html {
    height: 100%;
    margin: auto;
    background: #d5d4d4;
}
header{
    font-family: 'Montserrat', sans-serif;
    font-weight: 1000;
    font-size: 16px;
    box-sizing: border-box;
    display: flex;
    justify-content: flex-end;
    background-color: #343a40;
    align-items: center;
}

#mainWord{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 10px;
    font-weight: 100;
    margin-bottom: 100px;
    text-align: center;
    background-color: white;
}

.aboutUS{
    margin-top: 100px;
}

.yellowUnderline{
    text-decoration: underline;
    text-decoration-color:#ffde59;
    text-decoration-thickness: 3px;
}

.title {
    color: grey;
}

.signbtn{
    margin-bottom:10px;
}

ul {
    list-style-type: none;
}

li, .navbarItems{
    color: white;
}

.navBar li{
    display: flex;
    padding: 0px 20px;
    list-style: none;
}


.navBar li a{
    transition: all 0.3s ease 0s;
    text-decoration: none;
}

.navBar li a:hover{
    color: #ffde59;
}

.typeB{
    font-family: 'Montserrat', sans-serif;
    font-weight: 1000;
    font-size: 16px;
    padding: 10px 20px;
    background-color: grey;
    margin-left:180px;
    border: none;
    border-radius: 80px;
    cursor: pointer;
    transition: all 0.3s ease 0s;}

.typeA{
    font-family: 'Montserrat', sans-serif;
    font-weight: 1000;
    font-size: 16px;
    padding: 10px 20px;
    background-color: grey;
    border: none;
    border-radius: 80px;
    cursor: pointer;
    transition: all 0.3s ease 0s;}

.signbtn1{
    font-family: 'Montserrat', sans-serif;
    font-weight: 1000;
    font-size: 16px;
    padding: 10px 20px;
    background-color: rgb(255, 222, 89);
    border: none;
    border-radius: 80px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.signbtn1:hover{
    background-color: rgb(255, 255, 255);
}
.moreButton{
    font-family: 'Montserrat', sans-serif;
    font-weight: 1000;
    font-size: 16px;
    padding: 10px 20px;
    background-color: rgb(255, 222, 89);
    border: none;
    border-radius: 80px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.more{
    background-color: rgb(255, 222, 89);
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    padding: 10px 20px;
    font-weight: 1000;
    border-radius: 80px;
}

.closeButton{
    font-family: 'Montserrat', sans-serif;
    font-weight: 1000;
    font-size: 16px;
    padding: 10px 10px;
    margin: 0 2% 2% 70%;
    background-color: rgb(255, 222, 89);
    border: none;
    border-radius: 80px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}
.closeButton:hover{
    background-color: rgb(255, 255, 255);
}

#aboutUS{
    font-size:30px;
    font-weight: bold;
}

.moreButton:hover{
    background-color: rgb(255, 255, 255);
}
.pictureInMain{
    position: relative;
    padding-top: 100px;
}

.contentOfUniver{
    text-align: center;
    margin: 5%;
}
.textAboutCh {
    font-family: 'Montserrat', sans-serif;
    font-weight: 1000;
    font-size: 16px;
    position: absolute;
    bottom: 150px;
    left: 600px;
    background-color: white;
    color: black;
    padding-left: 20px;
    padding-right: 100px;
    text-align: center;
}
.theChoiceText{
    text-align: justify-all;
    margin: auto;
}


.lineOfNav{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: flex-end;
    justify-content: space-between;
}

ul {
    list-style-type: none;
    display: inline-block;
}

nav {
    text-align: center;
    padding-bottom: 10px;
    margin: 0;
    color: grey;

}

.container{
    font-family: 'Montserrat', sans-serif;
    font-weight: 1000;
    font-size: 16px;

}

.containerSignIn{
    margin-left: 0px;

}

.register{
    font-family: 'Montserrat', sans-serif;
    font-weight: 1000;
    font-size: 16px;
    margin: 10% 30% 10% 30%;
    border: 15px solid white;
    padding: 2px;
    background-color: white;
}

.containerSignIn{
    margin-left: 0px;

}

.registerbtn:hover {
    opacity: 1;
}

.registerbtn {
    background-color: grey;
    color: white;
    padding: 16px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 50%;
    opacity: 0.9;
}

.registerbtn:hover {
    opacity: 1;
}

.registerbtn {
    background-color: grey;
    color: white;
    padding: 16px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 50%;
    opacity: 0.9;
}

.naz{
    position:relative;
    left:400px;
    margin-top: -260px;
    margin-right: 450px;
}

.university{
    text-decoration: underline;
    text-decoration-color:#ffde59;
    text-decoration-thickness: 3px;
}

.moreButton{
    position:relative;
    top:50px;
    left:700px;
}

.pagination{
    color: #1d2327;
}

.pass h2{
    font-size: 24px;
}
.pass li{
    font-size: 16px;
    color: gray;
}

.univer{
    margin: 0 50px;
    display: flex;
    justify-content: start;
}

*, *:before, *:after {
    box-sizing:border-box;
}

.container-table {
    max-width: 90%;
    margin-right:auto;
    margin-left:auto;
    display:flex;
    justify-content:center;
    align-items:center;
    min-height:100vh;
}

.table {
    width:100%;
}

.table-header {
    display:flex;
    width:100%;
    background:#000;
    padding:18px 0;
}

.table-row {
    display:flex;
    width:100%;
    padding: 18px 0;
    border: 1px solid black;
}

.table-data, .header__item {
    flex: 1 1 20%;
    text-align:center;
}

.header__item {
    text-transform:uppercase;
}

.filter__link {
    color: white;
    text-decoration: none;
    position: relative;
    display: inline-block;
}

h2 {
    font-size: 26px;
    margin: 20px 0;
    text-align: center;
}

p{
    margin: 20px 0;
    text-align: center;
}

.input_reg{
    margin-left: 60px;
    width: auto;
    border:none;
}

#password{
    margin-left: 33px;
}
label{
    margin-left: 60px;
}

.create{

}